#map {
  position: absolute;
  left: 1%;
}

#info {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
  }

  .leaflet-div-icon {
    width: 100px;
    height: 100px;
    background: white;
  }

  .hidden {
    color: transparent !important;
    border: transparent !important;
  }

  #median-income {
    z-index: 10;
    width: 200px;
    padding: 10px;
    height: 200px;
    display: block;
    position: relative;
    margin: 0px auto;
    border: 1px solid white;
    color: white;
  }


.leaflet-touch .leaflet-bar button {
  background: black;
  color: white;
  width: 40px !important;
  height: 40px !important;
}

.easy-button-button .button-state {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

svg {
  height: 30px;
  width: 30px;
  position: fixed;
  top: 45%;
  left: 76.5%;
}

svg:hover {
  cursor: pointer;
}

circle {
  cx: 15;
  cy: 15;
  r: 10;
  fill: red;
  stroke: white;
  stroke-width: 4;
}
